version 16.6
!
service timestamps debug datetime msec
service timestamps log datetime msec
no platform punt-keepalive disable-kernel-core
!
hostname {{inventory_hostname}}
!
!
banner motd # 
****************************************************
** Baseline, {{inventory_hostname}}, 2020.NOV.24 **
****************************************************
#
!
boot-start-marker
boot-end-marker
!
vrf definition Mgmt-intf
 !
 address-family ipv4
 exit-address-family
 !
 address-family ipv6
 exit-address-family
!
no aaa new-model
!
no ip domain lookup
ip domain name ccnp.lab
!
subscriber templating
multilink bundle-name authenticated
!
spanning-tree extend system-id
!
username cisco privilege 15 secret 9 $9$1EYvMqgeWzUxQE$uejsRN14FZ5qu.gNNAxQS55CElW02l1CiAHrNII.CoQ
username instructor privilege 15 secret 9 $9$YBcNNZMrfGYSYH$XDw1U8i7vijz6Vtb5WV2ozXR8Sa93OYIjqiFlv7whZ2
!
redundancy
 mode none
!
vlan internal allocation policy ascending
!
interface GigabitEthernet0/0/0
 no ip address
 shutdown
 negotiation auto
!
interface GigabitEthernet0/0/1
 no ip address
 shutdown
 negotiation auto
!
interface GigabitEthernet0/0/2
 no ip address
 shutdown
 negotiation auto
!
interface Serial0/1/0
 no ip address
 shutdown
!
interface Serial0/1/1
 no ip address
 shutdown
!
interface Serial0/2/0
 no ip address
 shutdown
!
interface Serial0/2/1
 no ip address
 shutdown
!
interface GigabitEthernet0
 vrf forwarding Mgmt-intf
 ip address {{ansible_host}} 255.255.255.0
 negotiation auto
 no shutdown
!
interface Vlan1
 no ip address
 shutdown
!
ip forward-protocol nd
no ip http server
no ip http secure-server
!
control-plane
!
ip tftp source-interface G0
!
alias exec reset.soft config replace flash:/ccnp/base/base.cfg
alias exec reset.hard tclsh flash:/ccnp/scripts/reset.tbc
alias exec enarsi.lab tclsh flash:/ccnp/scripts/enarsi-lab.tcl
!
line con 0
 logging synchronous
 login local
 stopbits 1
line aux 0
 stopbits 1
line vty 0 4
 logging synchronous
 login local
 transport input all
line vty 5 15
 logging synchronous
 login local
 transport input all
!
!
end

"