service timestamps debug datetime msec
service timestamps log datetime msec
service password-encryption
!
hostname {{ sw_hostname }}
!
boot-start-marker
boot-end-marker
!
!
vrf definition Mgmt-vrf
 !
 address-family ipv4
 exit-address-family
!
system mtu routing 1500
ip routing
!
ip dhcp excluded-address 22.18.{{ sw_lan_subnet }}.1 22.18.{{ sw_lan_subnet }}.2
!
ip dhcp pool STUDENT_LAN
 network 22.18.{{ sw_lan_subnet }}.0 255.255.255.248
 default-router 22.18.{{ sw_lan_subnet }}.1 
 dns-server 100.100.4.100 
 domain-name netman-lab.net
!
!
no ip domain-lookup
ip domain-name netman-lab.net
vtp domain switch
vtp mode transparent
!
!
key chain NETMAN
 key 1
  key-string 7 115A48222502205F1D
!
vlan internal allocation policy ascending
!
vlan 2,{{ sw_lan_subnet }},{{ sw_router_subnet }} 
!
vlan 6{{ ipv6_student_identifier }}
 name vrf_NET-A
!
vlan 750,760 
!
ip tftp source-interface Vlan1{{ ipv6_student_identifier }}
!
interface Loopback0
 ip address 22.17.1.{{ student_identifier }} 255.255.255.255
 ip ospf network point-to-point
!
interface Loopback101
 ip address 172.26.{{ student_identifier }}.1 255.255.255.255
!
interface Tunnel600
 ip address 10.60.0.{{ student_identifier }} 255.255.255.0
 tunnel source Loopback0
 tunnel destination 22.17.1.{{ battle_buddy }}
!
interface FastEthernet0
 vrf forwarding Mgmt-vrf
 ip address 22.255.0.{{ sw_lan_subnet }} 255.255.254.0
!
interface GigabitEthernet0/1
 description TRUNK TO SWITCH_FARM_SWITCH PORT 1
 switchport trunk encapsulation dot1q
 switchport trunk allowed vlan {{ sw_lan_subnet }},{{ sw_router_subnet }},6{{ ipv6_student_identifier }}
 switchport mode trunk
 no shutdown
!
interface GigabitEthernet0/2
 switchport trunk encapsulation dot1q
 switchport mode trunk
 no shutdown
!
interface GigabitEthernet0/3
 switchport trunk encapsulation dot1q
 switchport trunk allowed vlan 750,760
 switchport mode trunk
 switchport nonegotiate
 no shutdown
!
interface GigabitEthernet0/4
 no switchport
 ip address 172.26.2{{ ipv6_student_identifier }}.1 255.255.255.252
 no shutdown
!
interface GigabitEthernet0/5
 switchport access vlan 2
 switchport mode access
 switchport nonegotiate
 shutdown
!
interface GigabitEthernet0/6
 switchport access vlan 2
 switchport mode access
 switchport nonegotiate
 shutdown
!
interface GigabitEthernet0/7
 switchport access vlan 2
 switchport mode access
 switchport nonegotiate
 shutdown
!
interface GigabitEthernet0/8
 switchport access vlan 2
 switchport mode access
 switchport nonegotiate
 shutdown
!
interface GigabitEthernet0/9
 switchport access vlan 2
 switchport mode access
 switchport nonegotiate
 shutdown
!
interface GigabitEthernet0/10
 switchport access vlan 2
 switchport mode access
 switchport nonegotiate
 shutdown
!
interface GigabitEthernet0/11
 switchport access vlan 2
 switchport mode access
 switchport nonegotiate
 shutdown
!
interface GigabitEthernet0/12
 switchport access vlan 2
 switchport mode access
 switchport nonegotiate
 shutdown
!
interface GigabitEthernet0/13
 switchport access vlan 2
 switchport mode access
 switchport nonegotiate
 shutdown
!
interface GigabitEthernet0/14
 switchport access vlan 2
 switchport mode access
 switchport nonegotiate
 shutdown
!
interface GigabitEthernet0/15
 switchport access vlan 2
 switchport mode access
 switchport nonegotiate
 shutdown
!
interface GigabitEthernet0/16
 switchport access vlan 2
 switchport mode access
 switchport nonegotiate
 shutdown
!
interface GigabitEthernet0/17
 switchport access vlan 2
 switchport mode access
 switchport nonegotiate
 shutdown
!
interface GigabitEthernet0/18
 switchport access vlan 2
 switchport mode access
 switchport nonegotiate
 shutdown
!
interface GigabitEthernet0/19
 switchport access vlan 2
 switchport mode access
 switchport nonegotiate
 shutdown
!
interface GigabitEthernet0/20
 switchport access vlan 2
 switchport mode access
 switchport nonegotiate
 shutdown
!
interface GigabitEthernet0/21
 switchport access vlan 2
 switchport mode access
 switchport nonegotiate
 shutdown
!
interface GigabitEthernet0/22
 switchport access vlan 2
 switchport mode access
 switchport nonegotiate
 shutdown
!
interface GigabitEthernet0/23
 switchport access vlan 2
 switchport mode access
 switchport nonegotiate
 shutdown
!
interface GigabitEthernet0/24
 switchport access vlan 2
 switchport mode access
 switchport nonegotiate
 shutdown
!
interface GigabitEthernet1/1
!
interface GigabitEthernet1/2
!
interface GigabitEthernet1/3
!
interface GigabitEthernet1/4
!
interface TenGigabitEthernet1/1
!
interface TenGigabitEthernet1/2
!
interface Vlan1
 no ip address
!
interface Vlan{{ sw_lan_subnet }}
 description STUDENT LAN GATEWAY
 ip address 22.18.{{ sw_lan_subnet }}.1 255.255.255.248
 ip ospf {{ student_identifier }} area {{ student_identifier }}
!
interface Vlan{{ sw_router_subnet }}
 ip address 22.18.{{ sw_router_subnet }}.1 255.255.255.248
 ip ospf network point-to-point
 ip ospf {{ student_identifier }} area {{ student_identifier }}
!
interface Vlan6{{ ipv6_student_identifier }}
 ip address 10.99.{{ student_identifier }}.253 255.255.255.252
!
interface Vlan750
 ip address 10.75.0.{{ student_identifier }} 255.255.255.0
interface Vlan760
 ip address 10.76.0.{{ student_identifier }} 255.255.255.0
!
router eigrp 100
 network 10.60.0.0 0.0.0.255
 network 22.18.1{{ ipv6_student_identifier }}.0 0.0.0.7
!
router ospf {{ student_identifier }}
 passive-interface Vlan{{ sw_lan_subnet }}
!
router rip
 network 172.26.0.0
 no auto-summary
!
!
ip http server
ip http secure-server
!
ip route 0.0.0.0 0.0.0.0 22.18.{{ sw_router_subnet }}.2
ip route 22.17.1.{{ battle_buddy }} 255.255.255.255 10.99.{{ student_identifier }}.254
ip route 22.20.{{ dist_mpls_node }}.0 255.255.255.248 10.99.{{ student_identifier }}.254
ip route vrf Mgmt-vrf 22.17.17.30 255.255.255.255 22.255.1.254
!
ip access-list standard SNMP-VTY_ACL
 permit 22.255.0.1
 permit 22.17.17.0 0.0.0.31
 permit 22.18.{{ sw_lan_subnet }}.0 0.0.0.7
!
logging host 22.18.{{ sw_lan_subnet }}.3
!
!
snmp-server engineID local 1234567890
snmp-server group ops v3 priv 
snmp-server view VIEW iso included
snmp-server community READONLY RO SNMP-VTY_ACL
snmp-server community READWRITE RW SNMP-VTY_ACL
snmp ifmib ifindex persist
!
!
line con 0
line vty 0 4
 access-class SNMP-VTY_ACL in vrf-also
 login local
 transport input telnet ssh
line vty 5 15
 access-class SNMP-VTY_ACL in vrf-also
 login local
 transport input telnet ssh
!
ntp server 22.18.{{ sw_router_subnet }}.2
end